*{
    margin:0%;
    padding:0%;
}

.busca {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -1%;
}

.pagina {
    margin-top: 1%;
    margin-left: 0.5%;
    width: 48%;
    height: 77vh;
    background-color: #f7f7f3;
    border-left: 1px solid silver;
    display: inline-block;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:1%;
}


.titulo {
    width: 45%;
    height: 8%;
    margin-left:5%;
    margin-top:1%;
    float: left;
    border-bottom:1px double silver;
}

.titulo ul li{
    display:inline;
    list-style:none;
    font-family:Calibri,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.0em;
    line-height:40px;
}

.aldeia {
    width: 11%;
    height: 27%;
    display: inline-block;
    float: right;
    position: absolute;
    margin: 4% 8%;
}

.aldeia img{
    width: 64%;
    float: right;
}

.renegado img{
    width: 64%;
    float: right;
     z-index:9999;
}
/*.morto {
    opacity: 0.8;
    filter: grayscale(100%);
    background-image: url('../imagens/cross-out.png');
    z-index:9999;
}*/

.cla {
    margin-top: 13%;
}

.organizacao {
    margin-top: 26%;
}

.foto {
    width: 60%;
    height: 60%;
    margin: 9% 5%;
}

.foto img{
    width:100%;
    height:100%;
    background-attachment:fixed;
    border-radius:5px;
}

.rodape {
    width: 60%;
    height: 21%;
    margin: -8% 5%;
}

.rodape ul li{
    text-align:center;
    list-style:none;
    border-bottom:2px solid silver;
    line-height:35px;
    font-size:1.2em;
}

.nivel {
    width: 32%;
    height: 100%;
    float:left;
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/

.corpoLivro { /*book_wrapper*/
    margin: 0 auto;
    margin-top: 2%;
    width: 72%;
    height: 70vh;
    position: relative;
    margin-left: 27%;
/*    border: 1px solid black;*/
    border-radius: 1%;
    /* background: transparent url('../imagens/bg.png') no-repeat 9px 27px;
    background-size: 100% 100%;*/
}
.meuLivro{

}
.rodapeLivro {
    width: 100%;
    height: 55%;
    margin: 13% 1%;
}

.rodapeLivro ul li{
    text-align: center;
    list-style: none;
    border-bottom: 3px solid silver;
    line-height: 45px;
    font-size: 1.3em;
    font-family: roboto;
}

.fotoLivro {
    width: 39%;
    height: 27vh;
    margin: 1% 0% 1% 1%;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #fff;
    padding: 1%;
}
.nomeLivro {
    text-align: center;
    line-height: 36px;
}
.aldeiaLivro {
    width: 25%;
    height: 15vh;
    padding: 1%;
    position: absolute;
    right: 3%;
}
.x {
    position: absolute;
    width: 39%;
    height: 27vh;
    left:5%;
    top:10%;
}