*{
    margin:0%;
    padding:0%;
}

.pagina {
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 48%;
    height: 77vh;
    background-color: #bfb19e;
    border-left: 1px solid silver;
}

.titulo {
    width: 45%;
    height: 8%;
    margin-left:5%;
    margin-top:1%;
    float: left;
    border-bottom:1px double snow;
}

.titulo ul li{
    display:inline;
    list-style:none;
    font-family:Calibri,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2.0em;
    line-height:40px;
}

.aldeia {
    width: 21%;
    height: 27%;
    position: relative;
    left: 67%;
}

.aldeia img{
    width: 64%;
    float: right;
}

.cla {
    margin-top: 4%;
}

.foto {
    width: 60%;
    height: 60%;
    background-color: snow;
    position: relative;
    bottom: 48%;
    left: 4%;
}

.foto img{
    width:100%;
    height:100%;
    background-attachment:fixed;
    border-radius:5px;
}

.rodape {
    width: 60%;
    height: 21%;
    background-color: snow;
    position: relative;
    bottom: 46%;
    left: 4%;
}

.nivel {
    width: 32%;
    height: 100%;
    background-color: currentcolor;
}
