@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-justify">Todos os direitos reservados....</h1>

<ul>
    <li>
        <a target="_blank" href="https://icons8.com.br/icons/set/naruto">Naruto icone</a> ícone por <a target="_blank" href="https://icons8.com.br">Icons8</a>
    </li>

    <li>
        <a target="_blank" href="https://favpng.com/">Icone Konoha</a> ícone por <a target="_blank" href="https://favpng.com/">favpng</a>
    </li>
    <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    <a href="https://naruto.fandom.com" title="naruto.fandom.com">naruto.fandom.com</a>

    <a href="https://www.xtrafondos.com/en/wallpaper/3840x2160/3619-naruto-uzumaki-minimalista.html" title="Flaticon">Naruto Uzumaki Minimalist Anime 4k Ultra HD Wallpaper</a>
    <a href="https://www.deviantart.com/joosherino/art/Anbu-Kakahshi-Minimalist-Design-578787636" title="Flaticon">
        Anbu Kakahshi - Minimalist Design
    </a>
    <a href="https://www.deviantart.com/joosherino/art/tobirama-minimalist-design-726729902" title="Flaticon">
        tobirama minimalist design
    </a>
</ul>
