@model IEnumerable<DataBook_Bingo.Models.Aldeia>

<br />
<h3 style="text-indent:25px; font-family:Calibri;">Vilas já Cadastradas...</h3>
<h5><a asp-action="Create">Inserir Novo</a></h5>
<br />

<div style="padding-left:8%;" class="row">
    @foreach (var item in Model)
    {
        <figure class="col-md-2 border-left border-bottom">
            @if (item.ImgAldeia != null)
            {
                <figcaption align="center">@Html.DisplayFor(modelItem => item.NomeAldeia)</figcaption>
                <hr />
                var _img64 = Convert.ToBase64String(item.ImgAldeia);
                var imgScr = String.Format("data:image/gif;base64,{0}", _img64);
                <img src="@imgScr" alt="Teste" style="margin-left:15%; width:70%;" class="figure-img" />
            }
        </figure>
    }
    <figure class="col-md-2 border-left">
    </figure>
</div>