@model DataBook_Bingo.Models.Shinobi

    <i><img width="20px" src="~/Imagens/kunai.png" /><h4 style="text-indent:25px; font-family:Calibri;">Cadastrar Shinobi:</h4></i>

    <div style="margin:2% 5%;">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="NomeShinobi" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <input asp-for="NomeShinobi" class="form-control btn-outline-dark" />
                    <span asp-validation-for="NomeShinobi" class="text-danger"></span>
                </div>
                <label asp-for="ImagemShinobi" class="col-1 col-form-label"></label>
                <div class="col-4">
                    <input type="file" name="file" asp-for="ImagemShinobi" class="form-control-file btn-outline-dark" />
                    <span asp-validation-for="ImagemShinobi" class="text-danger"></span>
                </div>
            </div>
                                     <hr>
                                     <br>
            <div class="form-group row">
                <label asp-for="Cla_Id" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Cla_Id" class="form-control btn-outline-dark" asp-items="ViewBag.Cla_Id">
                        <option disabled selected>- Selecione o Clã</option>
                    </select>
                    <span asp-validation-for="Cla_Id" class="text-danger"></span>
                </div>
                 <label asp-for="Aldeia_Id" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Aldeia_Id" class="form-control btn-outline-dark" asp-items="ViewBag.Aldeia_Id">
                        <option disabled selected>- Selecione a Vila</option>
                    </select>
                    <span asp-validation-for="Aldeia_Id" class="text-danger"></span>
                </div>
                <label asp-for="Especialidade" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Especialidade" class="form-control btn-outline-dark">
                        <option disabled selected>- Selecione a Especialidade</option>
                        <option value="Genjutsu">- Genjutsu -</option>
                        <option value="Ninjutsu">- Ninjutsu -</option>
                        <option value="Taijutsu">- Taijutsu -</option>
                    </select>
                    <span asp-validation-for="Especialidade" class="text-danger"></span>
                </div>
            </div>
                                    <hr>
                                    <br>
            <div class="form-group row">
                
                <label asp-for="Renegado" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Renegado" class="form-control btn-outline-dark">
                        <option disabled selected>- É Procurado?</option>
                        <option value="n">- Não -</option>
                        <option value="s">- Sim -</option>
                    </select>
                    <span asp-validation-for="Renegado" class="text-danger"></span>
                </div>
                <label asp-for="Vivo" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Vivo" class="form-control btn-outline-dark">
                        <option disabled selected>- Selecione</option>
                        <option value="n">- Não -</option>
                        <option value="s">- Sim -</option>
                    </select>
                    <span asp-validation-for="Vivo" class="text-danger"></span>
                </div>
                 <label asp-for="Elemento" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Elemento" class="form-control btn-outline-dark">
                        <option disabled selected>- Elemento: </option>
                        <option value="nenhum">- Nenhum -</option>
                        <option value="Água">- Água -</option>
                        <option value="Fogo">- Fogo -</option>
                        <option value="Terra">- Terra -</option>
                        <option value="Trovão">- Trovão -</option>
                        <option value="Vento">- Vento -</option>
                    </select>
                    <span asp-validation-for="Elemento" class="text-danger"></span>
                </div>
            </div>
                                        <hr>
                                        <br>
            <div class="form-group row">
                <label asp-for="Graduacao" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Graduacao" class="form-control btn-outline-dark">
                        <option disabled selected>- Selecione o nivel </option>
                        <option value="n">- Estudante -</option>
                        <option value="Gennin">- Gennin -</option>
                        <option value="Chunnin">- Chunnin -</option>
                        <option value="Jounin">- Jounin -</option>
                        <option value="Kage">- Kage -</option>
                    </select>
                    <span asp-validation-for="Graduacao" class="text-danger"></span>
                </div>
                <label asp-for="Membro" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Membro" class="form-control btn-outline-dark">
                        <option disabled selected>- Selecione o grupo </option>
                        <option value="Nenhum">- Nenhum -</option>
                        <option value="Akatsuki">- Akatsuki -</option>
                        <option value="Ambu">- Ambu -</option>
                        <option value="Ambu Núcleo">- Ambu Núcleo -</option>
                        <option value="Espadachins da Névoa">- Espadachins da Névoa -</option>
                        <option value="Força Kinkaku">- Força Kinkaku -</option>
                        <option value="Guardiões Ninja">- Guardiões Ninja -</option>
                        <option value="Medicos">- Medicos -</option>
                        <option value="Quarteto do Som">- Quarteto do Som -</option>
                        <option value="Sannin">- Sannin -</option>
                        <option value="Taka">- Taka -</option>
                    </select>
                    <span asp-validation-for="Membro" class="text-danger"></span>
                </div>
                <label asp-for="Nivel" class="col-1 col-form-label"></label>
                <div class="col-3">
                    <select asp-for="Nivel" class="form-control btn-outline-dark">
                        <option disabled selected>- Selecione o Nível </option>
                        <option value="N">- NADA -</option>
                        <option value="D">- D -</option>
                        <option value="C">- C -</option>
                        <option value="B">- B -</option>
                        <option value="A">- A -</option>
                        <option value="S">- S -</option>
                    </select>
                    <span asp-validation-for="Nivel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Salvar" class="btn btn-dark" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*

            </form>
        </div>
    </div>*@
