@model IEnumerable<DataBook_Bingo.Models.Shinobi>


<div class="pagina">
        <p class="nome">Nome Ninja</p>
    <div class="foto">
        
    </div>
    <div class="FotoM">

    </div>
</div>



