@model IEnumerable<DataBook_Bingo.Models.Shinobi>

    <div class="pagina">
        <div class="titulo">

        </div>
        <div class="aldeia">

        </div>
        <div class="aldeia cla">

        </div>
        <div class="foto">
        
        </div>
        <div class="rodape">

        </div>
    </div>