@model DataBook_Bingo.Models.Clas

@{
    ViewData["Title"] = "Create";
}

    <i><img width="20px" src="~/Imagens/Uzumaki.png" /><h4 style="text-indent:25px; font-family:Calibri;">Cadastrar Clã:</h4></i>
<hr />

<div style="margin-top:2%; margin-left:5%;" class="row">
    <div class="col-5">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i><img width="20px" src="~/Imagens/Uzumaki.png" /></i><label style="margin-left:10px;" asp-for="NomeClas" class="control-label"></label>
                <input asp-for="NomeClas" class="form-control btn-outline-dark" />
                <span asp-validation-for="NomeClas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageClas" class="control-label"></label>
                <input type="file" name="file" class="form-control-file btn-outline-dark" required />
                <span asp-validation-for="ImageClas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn  btn-dark" />
            </div>
        </form>
    </div>
    <div style="padding-left:3%;" class="col-5">
        <img style=" filter: blur(1px) brightness(0.80); border-radius:5px; width:120%;" src="~/Imagens/Clãs.PNG.png" />
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
